h2 {
    color: rgb(89, 151, 0);
    background-color: papayawhip;
}
button {
    color: magenta;
    background-color: cyan
}
p {
    color: yellow;
    background-color:blue;
}
h3 {
    color: #ff23f2;
}