h2{
    color:teal;
    background-color: plum;
}
button{
    color:magenta;
    background-color: greenyellow;;
}
p{
    color: olivedrab;
}
h3{
    color: rgb(255, 151, 120);
}
h4{
    color: #ffc8c8;
}